body {
	background-color:#001132;
}

#canvas {
	width:640px;
	height:480px; 
	margin-left:auto; margin-right:auto;
}
#wrapper {
	position:relative;
	width:640px; height:480px; 
	margin-left:auto; margin-right:auto; 
	background-color:#000; border:5px ridge #cc8811;
}
#menu {
	position:absolute;
	top:450;
	left:100;
	color:red;
}